In [2]:
# Import necessary packages
import os 
import folium
from folium import plugins
#import rioxarray as rxr
import earthpy as et
import earthpy.spatial as es
import pandas as pd
import numpy as np
from math import log

In [3]:
data = pd.read_csv('./owid-co2-data.csv')

In [4]:
data_location = pd.read_csv('country_location.csv')

In [6]:
from tqdm.notebook import tqdm, trange
latitude = []
long = []
for i in tqdm(data["country"]):
    try:
        idx = pd.Index(data_location['Country']).get_loc(i)
        latitude.append(data_location['Latitude'][idx]) #, location.longitude)
        long.append(data_location['Longitude'][idx])
    except:
        latitude.append(float("Nan"))#, location.longitude)
        long.append(float("Nan"))

  0%|          | 0/25989 [00:00<?, ?it/s]

In [7]:
data['longitude']=long
data['latitude']=latitude
data = data[data['latitude'].notna()]
data = data[np.logical_not(np.isnan(data['co2']))].reset_index()

,index,iso_code,country,year,co2,co2_per_capita,trade_co2,cement_co2,cement_co2_per_capita,coal_co2,...,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,primary_energy_consumption,energy_per_capita,energy_per_gdp,longitude,latitude
0,0,AFG,Afghanistan,1949,0.015,0.002,NaN,NaN,NaN,0.015,...,NaN,NaN,NaN,7624058.0,NaN,NaN,NaN,NaN,65.0,33.0
1,1,AFG,Afghanistan,1950,0.084,0.011,NaN,NaN,NaN,0.021,...,NaN,NaN,NaN,7752117.0,9.421400e+09,NaN,NaN,NaN,65.0,33.0
2,2,AFG,Afghanistan,1951,0.092,0.012,NaN,NaN,NaN,0.026,...,NaN,NaN,NaN,7840151.0,9.692280e+09,NaN,NaN,NaN,65.0,33.0
3,3,AFG,Afghanistan,1952,0.092,0.012,NaN,NaN,NaN,0.032,...,NaN,NaN,NaN,7935996.0,1.001733e+10,NaN,NaN,NaN,65.0,33.0
4,4,AFG,Afghanistan,1953,0.106,0.013,NaN,NaN,NaN,0.038,...,NaN,NaN,NaN,8039684.0,1.063052e+10,NaN,NaN,NaN,65.0,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19204,25984,ZWE,Zimbabwe,2016,10.738,0.765,1.415,0.639,0.046,6.959,...,0.820,6.21,0.443,14030338.0,2.096179e+10,46.666,3326.073,2.226,30.0,-20.0
19205,25985,ZWE,Zimbabwe,2017,9.582,0.673,1.666,0.678,0.048,5.665,...,0.816,6.35,0.446,14236599.0,2.194784e+10,45.936,3226.617,2.093,30.0,-20.0
19206,25986,ZWE,Zimbabwe,2018,11.854,0.821,1.308,0.697,0.048,7.101,...,0.828,6.59,0.456,14438812.0,2.271535e+10,47.502,3289.887,2.091,30.0,-20.0
19207,25987,ZWE,Zimbabwe,2019,10.949,0.748,1.473,0.697,0.048,6.020,...,NaN,NaN,NaN,14645473.0,NaN,49.427,3374.877,NaN,30.0,-20.0
19208,25988,ZWE,Zimbabwe,2020,10.531,0.709,NaN,0.697,0.047,6.257,...,NaN,NaN,NaN,14862927.0,NaN,NaN,NaN,NaN,30.0,-20.0

In [8]:
def f(year):
    data_year = data[data['year']==year].reset_index()
    m = folium.Map(location=[0, 0], 
               zoom_start=2,
               tiles = 'Stamen Terrain')

    for i in range(len(data_year)):
        folium.CircleMarker(
            location=[data_year['latitude'][i], data_year['longitude'][i]],
            radius=4*log(data_year['co2'][i]+10),
            #popup=str(data_2000['co2'][i]),
            popup=data_year['country'][i]+" "+str(data_year['co2'][i]),
            color="#3186cc",
            fill=True,
            fill_color="#3186cc",
        ).add_to(m)
        
    display(m)

In [9]:
from ipywidgets import interact, interactive, fixed, interact_manual
interact(f, year=[i for i in range(1960,2020)])

interactive(children=(Dropdown(description='year', options=(1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 19…

In [5]:
!pip freeze > requirements.txt